@import "vars";
@import "vendor/reset.scss";

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe\UI, Roboto,
    Helvetica\Neue, Arial, Noto\Sans, sans-serif;
  background-color: $secondary;
  font-size: 1.4rem;
  color: $white;
  line-height: 1.5;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// blocks
@import "blocks/page.scss";
@import "blocks/header.scss";
@import "blocks/nav.scss";
@import "blocks/subnav.scss";
@import "blocks/search.scss";
@import "blocks/stories.scss";
@import "blocks/add-post.scss";
@import "blocks/post.scss";
@import "blocks/sidebar.scss";
@import "blocks/main.scss";
@import "blocks/container.scss";
@import "blocks/profile.scss";
@import "blocks/socials.scss";
@import "blocks/btn.scss";
@import "blocks/embed.scss";
@import "blocks/pagination.scss";
@import "blocks/related.scss";
@import "blocks/comments.scss";
@import "blocks/form.scss";
