<header class="header">
  <div class="header__left">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="/">Main</a>
        </li>
        <li class="nav__item">
          <a class="nav__link has-subnav" href="#">Articles</a>
          <ul class="subnav">
            <li>
              <a class="subnav__link" href="#">Website development</a>
            </li>
            <li>
              <a class="subnav__link" href="#">Software Development</a>
            </li>
            <li>
              <a class="subnav__link" href="#">Machine Learning</a>
            </li>
          </ul>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">About me</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Ads</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="header__right">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="#">Profile</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Logout</a>
        </li>
      </ul>
    </nav>
    <form class="search" action="/" method="POST">
      <input class="search__input" type="text" placeholder="Search blogs" />
    </form>
  </div>
</header>
